<div class="container">
  <div class="row">
    <div class="col-10 offset-1">

      <div class="d-flex flex-wrap justify-content-center">
        <button mat-stroked-button
                *ngFor="let item of list | paginate
                      : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                      }"
                (click)="onClick(item)"
                class="resource-list-button"
        >{{ item[displayPropName] ? item[displayPropName] : item['title'] }}</button>
      </div>

    </div>
  </div>
</div>

