<div class="container">
  <div class="row">
    <div class="d-flex flex-wrap justify-content-center col-12 mt-5">

      <mat-card *ngIf="list$ | async as list; else loader;" class="col-12 mb-4 resource-list-container d-flex flex-wrap justify-content-center align-items-center">
        <app-list style="width: 100%"
                  [list]="list"
                  [displayPropName]="'name'"
                  [itemsPerPage]="itemsPerPage"
                  [page]="page"
                  [totalItems]="totalItems"
                  (itemClicked)="action($event)">
        </app-list>

        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
      </mat-card>

      <ng-template #loader>
        <div class="col-12 resource-list-container d-flex justify-content-center align-items-center">
          <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
        </div>
      </ng-template>

      <mat-card *ngIf="shouldLoadContainer" class="col-12">
        <router-outlet></router-outlet>
      </mat-card>

    </div>

  </div>
</div>

