<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">Star Wars</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/people">People</a></li>
        <li><a href="#" routerLink="/films">Films</a></li>
        <li><a href="#" routerLink="/starships">Starships</a></li>
        <li><a href="#" routerLink="/vehicles">Vehicles</a></li>
        <li><a href="#" routerLink="/species">Species</a></li>
        <li><a href="#" routerLink="/planets">Planets</a></li>
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>


<router-outlet></router-outlet>


