@import "./_variables";

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body { height:100%; color: $white;}

body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif' !important;
  //font-family: 'Pathway Gothic One', sans-serif !important;
  font-size: 18px !important;
  background-image: url('/assets/star-wars-backgrounds-25.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.row {
  display: block;
  flex-wrap: nowrap;
}

a:hover {
  color: $primary;
  text-decoration: none;
}

.navbar-brand {

  figure {
    margin-bottom: 0;
  }

  img {
    width: 120px;
  }
}

h1 {
  margin-top: 2em;
  font-size: 40px !important;
  font-weight: bold !important;
}

pagination-controls .ngx-pagination {
  margin-top: 15px;
  padding-left: 0;
  text-align: center;

  .current {
    background: $primary;
    color: $black;
  }
}

input.form-control,
input.form-control:focus,
mat-card.mat-card {
  color: map-get($star-wars-app-primary, default);
  background-color: $black-light;
}
input.form-control,
input.form-control:focus,
mat-card.mat-card,
.mat-stroked-button:not(.mat-button-disabled) {
  border-color: $primary;
}

.ngx-pagination {

  a, button {
    color: $primary !important;

    &:hover {
      background: transparent !important;
      border: 1px solid $primary;
    }
  }

  .disabled {
    color: rgba($primary, 0.30) !important;
  }
}

.mat-list-base .mat-list-item {
  color: $white;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(255, 255, 255, 0.54);
}

.item-detail-container {
  text-align: center;

  .mat-list-item .mat-list-item-content {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  body.home-page {
    overflow: scroll;
    background-repeat: repeat-y;
    padding-bottom: 200px;
    height: fit-content;
  }
}
