.d-flex {
  //display: flex;

  & > mat-card {
    //width: 50%;
    padding: 15px;
    margin: 0;
  }
}

.resource-list-container {
  min-height: 250px;
}

.categories-container {
  button {
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .home-container {
    display: block !important;
    margin-top: 160px;

    & > .container:last-child {
      padding-bottom: 100px;
    }
  }
}
